POSTGRES_USER=buildflow
POSTGRES_PASSWORD=buildflow123
POSTGRES_DB=buildflow_db
DATABASE_URL=postgresql://buildflow:buildflow123@db:5432/buildflow_db

GEMINI_API_KEY=
GROQ_API_KEY=

SECRET_KEY=

REACT_APP_API_URL=http://localhost:8001
 