__pycache__/
*.py[cod]
*.log
*.env
*.venv
.env.*
venv/
.env
.DS_Store
*.swp
*.swo
.idea/
.vscode/
*.bak
*.tmp
*.out

*.egg-info/
dist/
build/
*.spec
.mypy_cache/
.pytest_cache/
coverage/
htmlcov/

*.db
instance/
*.sqlite3

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
package-lock.json
yarn.lock

frontend/build/
frontend/dist/
backend/__pycache__/
backend/staticfiles/
backend/media/
txts/

# docker
*.pid
*.seed
*.pid.lock
*.sock
*.tar
.env.docker
docker-compose.override.yml

Thumbs.db
ehthumbs.db
Desktop.ini